<template>
  <div class="playspace">
    <Piano :piano="piano" />
  </div>
</template>

<script>
// @ is an alias to /src
import { Mutations, Instruments } from '@/constants';

import AudioEngine from '@/audio/AudioEngine';
import CompositionPlayer from '@/audio/CompositionPlayer';

import Piano from '@/components/Piano.vue';

export default {
  components: {
    Piano
  },
  created () {
    this.audio = new AudioEngine(this.$store);
    this.player = new CompositionPlayer(this.$store.state.composition, this.audio);

    // Get the composition ready to record
    this.$store.commit(Mutations.COMPOSITION_START);

    // Start playing the composition
    this.player.play();
  },
  computed: {
    piano () {
      return this.$store.state.instruments[Instruments.PIANO];
    }
  }
}
</script>
