<template>
  <div class="keyboard">
    <PianoKey v-for="pianokey in piano.controls" :key="pianokey.id"
               :pianokey="pianokey"
    />
  </div>
</template>

<script>
// @ is an alias to /src
import PianoKey from '@/components/PianoKey.vue'

// @see https://en.wikipedia.org/wiki/Piano_key_frequencies
export default {
  props: {
    piano: Object
  },
  components: {
    PianoKey
  },
}
</script>

<style scoped lang="scss">
.keyboard {
  display: flex;
  margin: 0 auto;
  flex-wrap: nowrap;
  justify-content: center;
}
</style>
