<template>
  <div class="keyboard-key"
       v-bind:class="classObject"
       v-on:mousedown.prevent="detectMousePress"
       v-on:mouseup.prevent="detectMousePress"
       v-on:mouseenter.prevent="detectMousePress"
       v-on:mouseleave.prevent="detectMousePress"
  >
    <div class="keyboard-key__note">{{ pianokey.key }}</div>
  </div>
</template>

<script>
import { Mutations, Instruments } from '@/constants';

export default {
  props: {
    pianokey: Object
  },
  computed: {
    classObject () {
      return {
        'keyboard-key--black': this.black,
        'keyboard-key--pressed': this.pressed
      };
    },
    black () {
      // All sharp notes are black keys
      return this.pianokey.name.includes('♯');
    },
    pressed () {
      return this.pianokey.pressed;
    },
  },
  watch: {
    pressed () {
      // TODO: play the note!
      console.log((this.pressed ? '+' : '-') + ' ' + this.pianokey.name)
    }
  },
  created () {
    // Mouse events can be bound directly on the element itself because the
    // mouse click will trigger on the element, but keyboard "hotkey" events
    // must be bound to the document as non-form elements never have keyboard
    // focus.
    // TODO: implement a centralised keyboard event handler for efficiency
    document.addEventListener('keydown', this.detectKeyPress);
    document.addEventListener('keyup', this.detectKeyPress);
  },
  destroyed () {
    document.removeEventListener('keydown', this.detectKeyPress);
    document.removeEventListener('keyup', this.detectKeyPress);
  },
  methods: {
    press () {
      this.$store.commit(Mutations.CONTROL_ACTIVATE, {
        instrument: Instruments.PIANO,
        control: this.pianokey.id,
      });
    },
    release () {
      this.$store.commit(Mutations.CONTROL_DEACTIVATE, {
        instrument: Instruments.PIANO,
        control: this.pianokey.id,
      });
    },
    detectKeyPress (event) {
      // Only listen for events on the key assigned to this piano key
      if (event.code !== this.pianokey.eventCode) {
        return;
      }
      switch (event.type) {
        case 'keyup':
          this.release();
          event.preventDefault();
          break;

        // If the button is being pressed, the note should play
        case 'keydown':
          if (!this.pressed) {
            this.press();
          }
          event.preventDefault();
          break;
      }
    },
    detectMousePress (event) {
      switch (event.type) {
        // Mouse leaving or releasing a button, we know the key is no longer
        // pressed
        case 'mouseleave':
        case 'mouseup':
          this.release();
          break;

        // If the button is being pressed, the note should play
        case 'mousedown':
          this.press();
          break;

        // If the mouse is entering, a note should be played if a button is
        // pressed down
        case 'mouseenter':
          if (event.buttons > 0) {
            this.press();
          }
      }
    }
  }
}
</script>

<style scoped lang="scss">

$key-width: 4rem;
$key-height: 10rem;
$black-key-width: 3rem;
$shadow-color: rgba(0.1, 0.1, 0.1, 0.15);

.keyboard-key {
  display: flex;
  align-items: flex-end;
  text-align: center;
  width: $key-width;
  height: $key-height;
  border: 1px solid #000;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px $shadow-color;
}

.keyboard-key--black {
  margin-top: -1rem;
  margin-left: -($black-key-width / 2);
  margin-right: -($black-key-width / 2);
  width: $black-key-width;
  height: $key-height - 1rem;
  z-index: 1;
  color: #fff;
  border: 0;
  background: #000;
}

.keyboard-key--pressed {
  transform: translateY(0.5rem);
  box-shadow: 0 0 4px $shadow-color;
}

.keyboard-key__note {
  margin: 0 auto;
}

</style>
